section.card {
    width: 100%;
    height: auto;
    .container  {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;

        .box    {
            width: 32%;
    

            img{
                width: 100%;
                vertical-align: middle;
            }
            
            .card-yazi{
                background-color: #dfe6e9;
                padding: 20px 20px 0 20px;
                *{
                    margin-bottom: 15px;
                }

                p{
                    color: gray;
                    font-size: 15px;
                    font-weight: 500;
                }

                .amount {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 0;

                    .unt {
                    span{
                        color: crimson;
                        font-weight: bold;
                    }
                    p{
                        font-size: 13px;
                        color: gray;
                    }

                }
                .btn{
                   button{
                       padding: 15px 50px;
                        background-color: orangered;
                       color: #fff;
                       border: none;
                       font-size: 18px;
                       cursor: pointer;
                   }
                }
                }

            }
            }
        }
    }


   @media (max-width:1250px) {
      section.card{
          .container{
              .box{
                  width: 30%;

                  .card-yazi{
                     
                    .amount{
                        .btn{
                            button{
                                padding: 10px;
                            }
                        }
                    }
                  }
                  }
              }
          }
      }
   

      @media (max-width:992px) {
          
      section.card{
          .container{
              flex-wrap: wrap;

              .box{
                  width: 45%;
                  margin-bottom: 30px;
              }
          }
      }
      }
      @media (max-width:768px) {
          
      section.card{
          .container{
             flex-direction: column;
            
              .box{
                  width: 80%;
                  margin-bottom: 30px;
                  margin: auto;
                  margin-bottom: 30px;
              }
          }
      }
      }