footer{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #273c75;

    .container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .box{
            width: 20%;
            h2{
                color: #fff;
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                color: #fff;
                margin-bottom: 20px;
            }
            ul{
                list-style: none;
                li{
                    margin-bottom: 15px;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            i{
                background-color: #4267B2;
                padding: 15px;
                color: #fff;
                cursor: pointer;

                &:nth-child(2){
                    background-color:  #0077b5;
                }
                &:nth-child(3){
                    background-color:  crimson;
                }
                &:nth-child(4){
                    background-color:  #833AB4;
                }


            }

            button{
                padding: 15px 40px;
                background-color:   orangered;
                color: #fff;
                border: none;
            }
        }
    }
}

@media (max-width:992px){
    footer{
        .container{
            flex-wrap: wrap;
            .box{
                width: 50%;
                margin-bottom: 30px;
              
            }
        }
    }
}

@media (max-width:950px){
    footer{
        .container{
            flex-direction: column;
        }
    }
}