section.upcoming {
  width: 100%;
 padding-top: 80px;
 
  background-color: rgba($color: #fab1a0, $alpha: 0.3);

  .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .resim {
      width: 45%;
      font-family: 'Jost', sans-serif;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .yazi {
      width: 45%;
      span {
        display: inline-block;
        color: #65c9bb;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
        text-transform: capitalize;
        margin-bottom: 10px;
      }

      h2 {
        color: #263b5c;
        font-size: 46px;
        display: block;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 30px;
      }

      p {
        color: #777;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.5;
      }

      .donate{
        background-color: #f15b43;
        color: #fff;
        padding: 17px 35px;
        font-size: 18px;
        border-radius: 0;
        font-weight: 500;
        text-transform: capitalize;
        border: 2px solid transparent;
        display: inline-block;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover{
            background-color: white;
            border: 2px solid #f15b43;
            color: #f15b43;
        }
      }

      .view{
        background-color: #f15b43;
        color: #fff;
        padding: 17px 35px;
        font-size: 18px;
        border-radius: 0;
        font-weight: 500;
        text-transform: capitalize;
        border: 2px solid transparent;
        display: inline-block;
        cursor: pointer;
        transition: 0.5s ease;
      }
    }
    * {
      margin-bottom: 30px;
    }
  }
}


@media (max-width:1250px) {
    section.upcoming{
        .container{
            .resim{
                width: 50%;
            }
            .yazi{
                width: 48%;

                h2{
                    font-size: 1.5em;
                }
                button.donate{
                    padding: 10px 30px ;
                }
                button.view{
                    padding: 10px 20px ;
                }
            }
        }
    }
}


@media (max-width:992px ) {
    section.upcoming{
    .container{
        flex-direction: column;

        .resim{
            width: 100%;
        }

        .yazi{
            width: 100%;
        }
    }
    }
}
